.Vue-Toastification__container {
  &.top-center {
    left: 0;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;

    .Vue-Toastification__toast {
      border-radius: 0;
      margin-bottom: 10px;
      max-height: none;
      max-width: 600px;
      min-height: 0;
      min-width: 0;
      padding: 13px 20px 13px 20px;
      width: 100%;
    }

    .Vue-Toastification__icon {
      margin-right: 20px;
    }

    .Vue-Toastification__toast-body {
      font-family: "Spectral", sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.5;
      -webkit-font-smoothing: antialiased;
    }

    .Vue-Toastification__close-button {
      height: 18px;
    }
  }
}

