// Breakpoints
$breakpointSmall: 720px;
$breakpointMedium: 960px;
$breakpointLarge: 1280px;
$breakpointXL: 1440px;

// Colors
$alto: #DDDDDD;
$athensGray: #E5E6EF;
$black: #000000;
$cavernPink: #E1BEBE;
$doveGray: #666666;
$gallery: #EEEEEE;
$gray: #888888;
$toreaBay: #1212AF;
$tundora: #444444;
$wellRead: #AB2E2E;
